extends ../layout

block content
    .container
        .page-header
            h1 #{article.title}
                small #{article.author}
            .row
                .col-md-2 编辑日期
                .col-md-10 #{article.meta.createAt}
            .row
                .col-md-2 标签
                .col-md-10 #{article.label}
        .jumbotron
            .row
                .col-md-12 #{article.content}
        