extends ../layout

block content
    .container
        .page-header
            h1 #{article.title}
                small #{article.author}
            .row
                .col-md-2 编辑日期
                .col-md-10 #{article.meta.createAt}
            .row
                .col-md-2 标签
                .col-md-10 #{article.label}
        .jumbotron
            .row
                .col-md-12 #{article.content}
        each item in comment
            div #{item.content}
            div #{item.from}

        form(method="post",action="/user/comment")
            input(type="hidden",name="comment[article]",value="#{article._id}")
            textarea.form-control(rows="3",name="comment[content]")
            button.btn(type="submit") 提交

        //each item in article.comment
