extends ../layout

block content
    .container
        .row
            each item in articles
                .jumbotron
                    a(href='/detail/#{item.id}')
                        .caption
                            h3 #{item.title}
                                small /#{item.author}
                            h6.label.label-default #{item.label}
                            h6 #{item.meta.createAt}