extends ../layout

block content
    table.table
        caption 文章列表
        thead
            tr
                th 标题
                th 操作时间
                th 作者
                th 编辑
                th 删除
        tbody
            each item in articles
                tr
                    th 
                        a(href='/detail/#{item._id}') #{item.title}
                        th #{item.meta.createAt}
                        th #{item.author}
                        th 
                            a(href='./admin/updata/#{item._id}') 
                                button.btn 编辑
                        th 
                            button.deleteFilm.btn.btn-danger(data-id="#{item._id}") 删除
